.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonSocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
