.textArae {
  resize: none;
  width: 100%;
  min-height: calc(1.5em * 10);
  background-color: transparent;
  border: 1px solid rgb(80, 179, 232);
  padding: 1rem;
  border-radius: 0.3rem;
}

.textArea:focus {
  outline: 0 none;
  border: 1px solid rgb(80, 179, 232);
}

.textArae:focus-visible {
  outline: 0 none;
  border: 1px solid rgb(80, 179, 232);
}

.error {
  color: rgb(160, 64, 64);
  margin-left: 1rem;
}

.labelErrorContainer {
  display: flex;
  flex-direction: row;
}
