.contactFormContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  margin: 0px;
  font-weight: 900;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 1rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  70% {
    transform: translateX(-2%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contactFormContainer {
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
